.gradle
out/
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

